* {
    margin: 0;
    overflow-x: hidden;
}
/* roboto font */
.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* index */
.oval {
    background-color: rgba(53, 53, 53, 0.2);
    align-items: center;
    border-radius: 50vw;
    padding: 2vw 3vw 2vw 3vw;
}
.header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2vw 5vw 0vw 5vw;
    gap: 5vw;
}
.logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5vw;
}
.logo {
    width: 2.5vw;
    height: 2.5vw;
}
.logo-text {
    font-size: 2vw;
    font-weight: 500;
    color: white;
}
.links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5vw;
    padding: 0 0 0 0;
}
a {
    text-decoration: none;
    color: white;
}
.title {
    font-size: 5.4vw;
    font-weight: 500;
    color: white;
    padding: 5vw 5vw 1vw 10vw;
    line-height: 1;
    letter-spacing: 0.15vw;
}
.threedee {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 0 0 0;
    gap: 9vw;
}
spline-viewer {
    width: 20vw;
    height: 20vw;
    padding: 7.5vw 15vw 0 0; 
}
.spline {
    width: 50vw;
}
.subtitle {
    font-size: 1.3vw;
    color: white;
    padding: 0 15vw 2vw 16vw;
    line-height: 1.5;
    animation: smooth-appear 5s;
}
.learnMore a {
    background-color: rgba(255, 255, 255, 0.6);
    color: black;
    border-radius: 3vw;
    padding: 1vw 2.5vw 1vw 2.5vw;
    font-size: 1vw;
    font-weight: 500;
    text-align: center;
    width: fit-content;
    margin-left: 14vw;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    letter-spacing: 0.1vw;
}
.learnMore {
    height: 4vw;
    padding: 1vw 0 0 2vw;
    animation: smooth-appear 5s;
}
.learnMoreContainer {
    padding: 0 0 0 0;
}
.footer-container {
    padding: 10vw 14vw 2vw 14vw;
}
.footer1 {
    display: flex;
    font-size: 1vw;
    gap: 2.5vw;
}
.footer1 a {
    color: rgba(255, 255, 255, 0.75);
}
.line {
    border: 0.1vw solid rgba(255, 255, 255, 0.75);
    margin: 2vw 0vw 2vw 0vw;
    color: rgba(255, 255, 255, 0.75);

}
.footer2 {
    font-size: 1vw;
    color: rgba(255, 255, 255, 0.75);
    padding: 0 0 0 0;
    display: flex;
    gap: 40.5vw;
}
.footer2 a {
    color: rgba(255, 255, 255, 0.75);
}
.footer-legal-block {
    display: flex;
    gap: 2vw;
    color: rgba(255, 255, 255, 0.75);
}

/* about */
.aboutUsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 0 0 0;
    gap: 0vw;
}
.mockPhoto {
    width: 20vw;
    height: auto;
    padding: 5vw 5vw 0 5vw; 
}
.subAbout {
    font-size: 1.3vw;
    color: white;
    padding: 0 5vw 2vw 14vw;
    line-height: 1.5;
    width: 33vw;
    animation: smooth-appear 5s;
}
.title {
    font-size: 5.4vw;
    font-weight: 500;
    color: white;
    padding: 12vw 5vw 5vw 14vw;
    line-height: 1;
    letter-spacing: 0.15vw;
    animation: smooth-appear 4s;
}

/* team */
.teamTitle {
    font-size: 5.4vw;
    font-weight: 500;
    color: white;
    padding: 5vw 5vw 1vw 1vw;
    line-height: 1;
    letter-spacing: 0.15vw;
    text-align: center;
    animation: smooth-appear 4s;
}

.teamMembers {
    justify-content: center;
    padding: 3vw 5vw 0vw 5vw;
    animation: smooth-appear 5s;
}

.memberText {
    font-size: 1.1vw;
    color: white;
    padding: 0vw 14vw 5vw 14vw;
    line-height: 1.5;
    text-align: justify;
}

.member {
    display: flex;
    flex-direction: column;
    font-size: 1.3vw;
    color: white;
    padding: 2vw 7vw 2vw 7vw;
    line-height: 1.5;
    text-align: center;
    gap: 2vw;
}

.photos {
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    object-fit: cover;
}

/* contact */

.contactUsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 10vw 0 0;
    gap: 3vw;
}
.subContact {
    font-size: 1.3vw;
    color: white;
    padding: 0 5vw 2vw 5vw;
    line-height: 1.5;
    width: 33vw;
}
.formContainer {
    padding: 2vw 2.5vw 2vw 2.5vw;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 2vw;
    color: white;
}
.email {
    padding: 1vw 0 1vw 0;
    border-radius: 0.25vw;
    border: none;
    width: 20vw;
}
.comment {
    padding: 1vw 0 1vw 0;
    border-radius: 0.25vw;
    border: none;
    width: 20vw;
}
.submit {
    background-color: rgba(255, 255, 255, 0.279);
    border: none;
    border-radius: 0.67vw;
    padding: 1vw 2vw 1vw 2vw;
    width: 6.7vw;
    color: white;
}
.action {
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
}

/* fade in */
@keyframes smooth-appear {
  0% {opacity: 0;}
  25% {opacity: 0;}
  100% {opacity: 1;}
}
